{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Все актеры
{% endblock %}
{% block menu %}
        {% if perms.webapp.add_actor %}
         <li><a href="{% url 'webapp:actor_create' %}">Добавить актера</a></li>
        {% endif %}
{% endblock %}
{% block content %}
    <div class="general">
        <h4 class="latest-text w3_latest_text">Все актеры</h4>
            <div class="container">
                {% for actor in actors %}
                <div class="col-md-3 w3l-movie-gride-agile">
							<a href="{% url 'webapp:actor_detail' actor.pk %}" class="hvr-shutter-out-horizontal">
                                {% if actor.photo %}
                                <img src="{{ actor.photo.url }}" title="album-name" class="img-responsive" alt=" " />
                                {% else %}
                                <img src="{% static 'images/no-photo-person.png' %}" title="album-name" class="img-responsive" alt=" " />
                                {% endif %}

							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6 class="fa"><a href="{% url 'webapp:actor_detail' actor.pk %}">{{ actor }}</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>Д.Р.:{{actor.birth_date|date:"d.m.Y"}}</p>
									<div class="block-stars">
										Пол:{{ actor.get_gender_display }}
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
            </div>
        </div>

{% endblock %}