<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="{% url 'webapp:index' %}"><h1>One<span>Movies</span></h1></a>
			</div>
			<div class="w3_search">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="Поиск" required="">
					<input type="submit" value="Найти">
				</form>
			</div>
			<div class="w3l_sign_in_register">
				<ul>

                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Привет, {{ request.user }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
									<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{% url 'accounts:logout' %}">Выйти</a></li>
										</ul>
									</div>
								</ul>
                        </li>
                    {% else %}
                        <li><i class="fa fa-phone" aria-hidden="true"></i> (+996) 700 614 223</li>
					<li><a href="{% url 'accounts:login' %}">Войти</a></li>
                    {% endif %}
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
