<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'webapp:index' %}">Главная</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Жанры <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
                                            {% for genre in menu_genres|slice:":7" %}
											<li><a href="{% url 'webapp:movie_genre' genre.slug %}">{{ genre }}</a></li>
                                            {% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for genre in menu_genres|slice:"7:14" %}
											<li><a href="{% url 'webapp:movie_genre' genre.slug %}">{{ genre }}</a></li>
                                            {% endfor %}
										</ul>
									</div>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											{% for genre in menu_genres|slice:"14:" %}
											<li><a href="{% url 'webapp:movie_genre' genre.slug %}">{{ genre }}</a></li>
                                            {% endfor %}
                                            <li><a href="{% url 'webapp:genre_list' %}">Все жанры</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
									</li>
								</ul>
							</li>

							<li><a href="#">От А до Я</a></li>

                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Люди<b class="caret"></b></a>
                            <ul class="dropdown-menu">
									<li>
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a href="{% url 'webapp:actor_list' %}" class="my-link-style">Актеры</a></li>
										</ul>
									</div>
                                    </li>
								</ul>
                        </li>

                            <li><a href="{% url 'webapp:movie_create' %}">Добавить фильм</a></li>
