{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
    <div id="slidey" style="display:none;">
		<ul>
            {% for movie in slider_movies %}
                <img src="{{ movie.photo.url }}" alt="">
                <li><img src="{{ movie.photo.url }}" alt=" "><p class='title'>{{movie.title}}</p><p class='description'> {{ movie.short_description }}</p></li>
            {% endfor %}
		</ul>
    </div>

        <div class="banner">
        <h4 class="latest-text w3_latest_text" style="margin-top: 25px; margin-bottom: 0;">Наши рекомендации</h4>
		<div class="container">
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
                    {% for movie in movies %}
					    {% include 'movies/movie_sm.html' %}
                    {% endfor %}
				</div>
			</div>
		</div>
        </div>

    <script src="{% static 'js/jquery.slidey.js' %}"></script>
    <script src="{% static 'js/jquery.dotdotdot.min.js' %}"></script>
	   <script type="text/javascript">
			$("#slidey").slidey({
				interval: 8000,
				listCount: 5,
				autoplay: false,
				showList: true
			});
			$(".slidey-list-description").dotdotdot();
		</script>

    <div class="general">
		<h4 class="latest-text w3_latest_text">Популярные жанры</h4>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">{{genres.0}}</a></li>
					<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">{{ genres.1 }}</a></li>
					<li role="presentation"><a href="#rating" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">{{ genres.2 }}</a></li>
					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">{{ genres.3 }}</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="w3_agile_featured_movies">
							{% for connection in genres.0.movies.all %}
						{% include 'movies/movie_md.html' with movie=connection.movie %}
                     {% endfor %}
					    </div>
                    </div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">

						{% for connection in genres.1.movies.all %}
						{% include 'movies/movie_md.html' with movie=connection.movie %}
                     {% endfor %}
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">

                        {% for connection in genres.2.movies.all %}
						{% include 'movies/movie_md.html' with movie=connection.movie %}
                     {% endfor %}
					</div>
					<div role="tabpanel" class="tab-pane fade" id="imdb" aria-labelledby="imdb-tab">
                        {% for connection in genres.3.movies.all %}
						{% include 'movies/movie_md.html' with movie=connection.movie %}
                     {% endfor %}
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">Новые фильмы</h4>
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
                            {% for movie in new_movies %}
                                {% include 'movies/movie_lg.html' %}
                            {% endfor %}

                    </ul>
                </div>
            </section>
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
				<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
        </div>
    </div>
{% endblock %}