{% load widget_tweaks %}
<div class="form-group">
    <div class="col-sm-2 control-label col-sm-push-2 font-18">{{ field.label }}</div>
    <div class="col-sm-5 col-sm-push-2">
        {% if field|field_type == 'imagefield' or field|field_type == 'filefield' %}
          <div class="form-control">
              {{ field }}
          </div>
        {% elif field|field_type == 'multiselectformfield' or field|field_type == "modelmultiplechoicefield" %}
            {% for  choice in field %}
                {{choice}}
            {% endfor %}
            {% elif field|field_type == 'booleanfield' %}
            {{ field|add_class:"" }}
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}

    </div>
</div>

