{% extends 'base.html' %}
{% load permission_tags %}
{% load staticfiles %}
{% block title %}
    {{ movie.title }}
{% endblock %}
{% block menu %}
    {% if perms.webapp.change_movie %}
    <li><a href="{% url 'webapp:movie_update' movie.pk %}">Изменить  фильм</a></li>
    {% endif %}
    {% if perms.webapp.delete_movie %}
    <li><a href="{% url 'webapp:movie_delete' movie.pk%}">Удалить  фильм</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="single-page-agile-main">
<div class="container">
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h2 class="text-center">{{movie.title}} ({{ movie.year }})</h2>
					</div>
                        <div class="col-sm-5">
                            {% if movie.photo %}
                            <img src="{{ movie.photo.url }}" alt="" class="img-responsive">
                            {% else %}
                            <img src="{% static 'images/no-photo-film.png' %}" alt="" class="img-responsive">
                            {% endif %}
                        </div>
                        <div class="col-sm-7 ">
                            <h3 class="text-center">Описание</h3>
                            <p class="fa" style="margin-top: 15px;">{{ movie.description }}</p>
                            <div class="col-sm-5 " style="margin: 15px 0;"> <p class="fa">Дата релиза:</p></div>
                            <div class="col-sm-7" style="margin: 15px 0;"><p class="fa">{{ movie.release_date|date:"d-m-Y" }}</p></div>

                            <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Длительность:</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.duration }} минут</p></div>

                            <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Страна выпуска:</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.country }}</p></div>

                            <div class="col-sm-5" style="margin: 15px 0;"> <p class="fa">Жанры:</p></div>
                            <div class="col-sm-7" style="margin: 15px 0;">
                                {% for genre in movie.genres.all %}
                                    {% if forloop.last %}
                                        <a href="#">{{ genre.genre }}</a>
                                    {% else %}
                                <a href="#">{{ genre.genre }}</a> |
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Рейтинг</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.get_rating }}%</p></div>
                        </div>
					</div>
                    <div class="clearfix"></div>


					<div class="all-comments">

                        {% if request.user.is_authenticated and request.user|can_review:movie %}
                        {% include 'forms/../rating/rating_form.html' %}
                            {% else %}
                            <h4><a href="{% url 'accounts:login' %}">Войдите</a> в систему, чтобы оставить отзыв.</h4>
                        {% endif %}


						<div class="media-grids">
                            <h4 href="#" class="fa-2x text-center">Отзывы</h4>
                            {% for review in movie.reviews_taken.all %}
							<div class="media">
								<h5>Пользователь:{{ review.reviewer }}</h5>
								<div class="media-left">
									<a href="#">
                                        {% if review.reviewer.profile.photo %}
										<img src="{{review.reviewer.profile.photo.url}}" title="One movies" alt=" " />
                                        {% else %}
                                        <img src="{% static 'images/no-photo-person.png' %}" title="One movies" alt=" " />
                                        {% endif %}
									</a>
								</div>
								<div class="media-body">
                                    <h4>Отзыв</h4>
									<p>{{review.text}}</p>
                                    <h4>Оценка:  {{ review.rating }}/100</h4>

									<span>Все посты отправленные :<a href="{% url 'accounts:profile_detail' review.reviewer.pk %}"> {{review.reviewer}} </a></span>
								</div>
                                <div class="media-bottom">
                                    {% if request.user.is_authenticated and review.reviewer == request.user  or perms.webapp.change_rating%}
                                    <a href="{% url 'webapp:rating_update' review.pk %}" class="btn btn-primary">Изменить этот отзыв</a>
                                        {% endif %}
                                 {% if request.user.is_authenticated and review.reviewer == request.user  or perms.webapp.delete_rating%}
                                <a href="{% url 'webapp:rating_delete' review.pk %}" class="btn btn-danger">Удалить этот отзыв</a>
                                {% endif %}
                                </div>
							</div>
                                {% empty %}
                                <h2 class="text-center" style="margin:50px 0;">Еще никто не оставил отзыва...</h2>
                            {% endfor %}
						</div>
					</div>
				</div>

				<div class="col-md-4 single-right">
					<h3>В ролях были:</h3>
					<div class="single-grid-right">
                        {% for actor in movie.get_actors %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="{% url 'webapp:actor_detail' actor.pk %}"><img src="{{actor.photo.url}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="{% url 'webapp:actor_detail' actor.pk %}" class="title"> {{ actor }}</a>
								<p class="author"><a href="#" class="author">{{actor.birth_date|date:"d-m-Y"}}</a></p>
								<p class="views">{{actor.get_gender_display}}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
                        {% endfor %}

                    <h3>Режиссеры:</h3>
                    {% for director in movie.get_directors %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="{% url 'webapp:director_detail' director.pk %}"><img src="{{director.photo.url}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="{% url 'webapp:director_detail' director.pk %}" class="title author"> {{director}}</a>
							</div>
							<div class="clearfix"> </div>
						</div>
                    {% endfor %}

					</div>
				</div>



				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->
            <h2 class="text-center">Похожие фильмы</h2>
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					{% for movie in related_movies %}
					    {% include 'movies/movie_sm.html' %}
                    {% endfor %}
				</div>
			</div>


				</div>
				<!-- //w3l-latest-movies-grids -->
			</div>
		</div>
{% endblock %}