{% extends 'base.html' %}
{% load permission_tags %}
{% load staticfiles %}
{% block title %}
    {{ movie.title }}
{% endblock %}
{% block menu %}
    <li><a href="{% url 'webapp:movie_update' movie.pk %}">Изменить  фильм</a></li>
    <li><a href="{% url 'webapp:movie_delete' movie.pk%}">Удалить  фильм</a></li>
{% endblock %}
{% block content %}
<div class="single-page-agile-main">
<div class="container">
			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h2 class="text-center">{{movie.title}} ({{ movie.year }})</h2>
					</div>
                        <div class="col-sm-5">
                            {% if movie.photo %}
                            <img src="{{ movie.photo.url }}" alt="" class="img-responsive">
                            {% else %}
                            <img src="{% static 'images/no-photo-film.png' %}" alt="" class="img-responsive">
                            {% endif %}
                        </div>
                        <div class="col-sm-7 ">
                            <h3 class="text-center">Описание</h3>
                            <p class="fa" style="margin-top: 15px;">{{ movie.description }}</p>
                            <div class="col-sm-5 " style="margin: 15px 0;"> <p class="fa">Дата релиза:</p></div>
                            <div class="col-sm-7" style="margin: 15px 0;"><p class="fa">{{ movie.release_date|date:"d-m-Y" }}</p></div>

                            <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Длительность:</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.duration }} минут</p></div>

                            <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Страна выпуска:</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.country }}</p></div>

                            <div class="col-sm-5" style="margin: 15px 0;"> <p class="fa">Жанры:</p></div>
                            <div class="col-sm-7" style="margin: 15px 0;">
                                {% for genre in movie.genres.all %}
                                    {% if forloop.last %}
                                        <a href="#">{{ genre.genre }}</a>
                                    {% else %}
                                <a href="#">{{ genre.genre }}</a> |
                                    {% endif %}
                                    {% endfor %}
                            </div>
                        <div class="col-sm-5" style="margin: 5px 0;"> <p class="fa">Рейтинг</p></div>
                            <div class="col-sm-7" style="margin: 5px 0;"><p class="fa">{{ movie.get_rating }}%</p></div>
                        </div>
					</div>
                    <div class="clearfix"></div>


					<div class="all-comments">

                        {% if request.user.is_authenticated and request.user|can_review:movie %}
                        {% include 'forms/rating_form.html' %}
                        {% endif %}

						<div class="media-grids">
                            <h4 href="#" class="fa-2x text-center">Отзывы</h4>
                            {% for review in movie.reviews_taken.all %}
							<div class="media">
								<h5>{{ review.reviewer }}</h5>
								<div class="media-left">
									<a href="#">
										<img src="images/user.jpg" title="One movies" alt=" " />
									</a>
								</div>
								<div class="media-body">
									<p>{{review.text}} {{ review.rating }}</p>
									<span>Все посты отправленные :<a href="#"> {{review.reviewer}} </a></span>
								</div>
							</div>
                                {% empty %}
                                <h2 class="text-center" style="margin:50px 0;">Еще никто не оставил отзыва...</h2>
                            {% endfor %}
						</div>
					</div>
				</div>

				<div class="col-md-4 single-right">
					<h3>В ролях были:</h3>
					<div class="single-grid-right">
                        {% for actor in movie.get_actors %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="#"><img src="{{actor.photo.url}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="single.html" class="title"> {{ actor }}</a>
								<p class="author"><a href="#" class="author">{{actor.birth_date|date:"d-m-Y"}}</a></p>
								<p class="views">{{actor.get_gender_display}}</p>
							</div>
							<div class="clearfix"> </div>
						</div>
                        {% endfor %}

                    <h3>Режиссеры:</h3>
                    {% for director in movie.get_directors %}
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="single.html"><img src="{{director.photo.url}}" alt="" /></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<a href="single.html" class="title author"> {{director}}</a>
							</div>
							<div class="clearfix"> </div>
						</div>
                    {% endfor %}

					</div>
				</div>



				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->
            <h2 class="text-center">Похожие фильмы</h2>
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
					{% for movie in related_movies %}
					    {% include 'movies/movie_sm.html' %}
                    {% endfor %}
				</div>
			</div>


				</div>
				<!-- //w3l-latest-movies-grids -->
			</div>
		</div>
{% endblock %}